<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>ascender</key>
		<integer>718</integer>
		<key>capHeight</key>
		<integer>654</integer>
		<key>descender</key>
		<integer>-243</integer>
		<key>familyName</key>
		<string>Source Serif 4 Display</string>
		<key>guidelines</key>
		<array>
		</array>
		<key>italicAngle</key>
		<integer>0</integer>
		<key>openTypeHheaAscender</key>
		<integer>1015</integer>
		<key>openTypeHheaDescender</key>
		<integer>-293</integer>
		<key>openTypeHheaLineGap</key>
		<integer>0</integer>
		<key>openTypeOS2TypoAscender</key>
		<integer>730</integer>
		<key>openTypeOS2TypoDescender</key>
		<integer>-270</integer>
		<key>openTypeOS2TypoLineGap</key>
		<integer>0</integer>
		<key>openTypeOS2WinAscent</key>
		<integer>1036</integer>
		<key>openTypeOS2WinDescent</key>
		<integer>335</integer>
		<key>postscriptBlueFuzz</key>
		<integer>0</integer>
		<key>postscriptBlueScale</key>
		<real>0.0375</real>
		<key>postscriptBlueShift</key>
		<integer>7</integer>
		<key>postscriptBlueValues</key>
		<array>
			<integer>-16</integer>
			<integer>0</integer>
			<integer>459</integer>
			<integer>474</integer>
			<integer>496</integer>
			<integer>511</integer>
			<integer>519</integer>
			<integer>533</integer>
			<integer>628</integer>
			<integer>643</integer>
			<integer>654</integer>
			<integer>670</integer>
			<integer>718</integer>
			<integer>738</integer>
		</array>
		<key>postscriptFamilyBlues</key>
		<array>
			<integer>-15</integer>
			<integer>0</integer>
			<integer>475</integer>
			<integer>488</integer>
			<integer>527</integer>
			<integer>540</integer>
			<integer>549</integer>
			<integer>563</integer>
			<integer>647</integer>
			<integer>660</integer>
			<integer>670</integer>
			<integer>685</integer>
			<integer>730</integer>
			<integer>750</integer>
		</array>
		<key>postscriptFamilyOtherBlues</key>
		<array>
			<integer>-250</integer>
			<integer>-240</integer>
		</array>
		<key>postscriptOtherBlues</key>
		<array>
			<integer>-253</integer>
			<integer>-243</integer>
		</array>
		<key>postscriptStemSnapH</key>
		<array>
			<integer>27</integer>
			<integer>24</integer>
		</array>
		<key>postscriptStemSnapV</key>
		<array>
			<integer>154</integer>
			<integer>146</integer>
		</array>
		<key>postscriptUnderlinePosition</key>
		<integer>-75</integer>
		<key>postscriptUnderlineThickness</key>
		<integer>50</integer>
		<key>styleName</key>
		<string>Extrabold</string>
		<key>unitsPerEm</key>
		<integer>1000</integer>
		<key>xHeight</key>
		<integer>459</integer>
	</dict>
</plist>
