<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>ascender</key>
		<integer>708</integer>
		<key>capHeight</key>
		<integer>644</integer>
		<key>descender</key>
		<integer>-233</integer>
		<key>guidelines</key>
		<array>
		</array>
		<key>italicAngle</key>
		<integer>0</integer>
		<key>openTypeHheaAscender</key>
		<integer>1037</integer>
		<key>openTypeHheaDescender</key>
		<integer>-270</integer>
		<key>openTypeHheaLineGap</key>
		<integer>0</integer>
		<key>openTypeOS2TypoAscender</key>
		<integer>730</integer>
		<key>openTypeOS2TypoDescender</key>
		<integer>-270</integer>
		<key>openTypeOS2TypoLineGap</key>
		<integer>0</integer>
		<key>openTypeOS2WinAscent</key>
		<integer>1036</integer>
		<key>openTypeOS2WinDescent</key>
		<integer>335</integer>
		<key>postscriptBlueFuzz</key>
		<integer>0</integer>
		<key>postscriptBlueScale</key>
		<real>0.0375</real>
		<key>postscriptBlueShift</key>
		<integer>7</integer>
		<key>postscriptBlueValues</key>
		<array>
			<integer>-16</integer>
			<integer>0</integer>
			<integer>464</integer>
			<integer>480</integer>
			<integer>486</integer>
			<integer>504</integer>
			<integer>509</integer>
			<integer>523</integer>
			<integer>615</integer>
			<integer>633</integer>
			<integer>644</integer>
			<integer>660</integer>
			<integer>708</integer>
			<integer>728</integer>
		</array>
		<key>postscriptFamilyBlues</key>
		<array>
			<integer>-15</integer>
			<integer>0</integer>
			<integer>475</integer>
			<integer>488</integer>
			<integer>527</integer>
			<integer>540</integer>
			<integer>549</integer>
			<integer>563</integer>
			<integer>647</integer>
			<integer>660</integer>
			<integer>670</integer>
			<integer>685</integer>
			<integer>730</integer>
			<integer>750</integer>
		</array>
		<key>postscriptFamilyOtherBlues</key>
		<array>
			<integer>-250</integer>
			<integer>-240</integer>
		</array>
		<key>postscriptOtherBlues</key>
		<array>
			<integer>-241</integer>
			<integer>-233</integer>
		</array>
		<key>postscriptStemSnapH</key>
		<array>
			<integer>31</integer>
			<integer>24</integer>
		</array>
		<key>postscriptStemSnapV</key>
		<array>
			<integer>209</integer>
			<integer>199</integer>
		</array>
		<key>postscriptUnderlinePosition</key>
		<integer>-75</integer>
		<key>postscriptUnderlineThickness</key>
		<integer>50</integer>
		<key>unitsPerEm</key>
		<integer>1000</integer>
		<key>xHeight</key>
		<integer>464</integer>
	</dict>
</plist>
